body {
  margin: 0px;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}
.section {
  height: 100vh;
}

.clear {
  clear: both;
}

.display-container.display-size-12 {
  margin-bottom: 24px;
}

.display-container {
  position: relative;
  margin-right: 24px;
  float: left;
}

.display-container div.segment-x,
.display-container div.segment-y {
  position: absolute;
}

.display-container span.segment-border {
  display: block;
  position: absolute;
}

.display-container.display-size-12 {
  width: 122px;
  height: 220px;
}

.display-container.display-size-12 .segment-x {
  width: 72px;
  left: 13px;
  border-bottom: 12px solid #000;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-x .segment-border {
  top: 12px;
  left: -12px;
  right: -12px;
  border-top: 12px solid #000;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-y {
  height: 72px;
  width: 0;
  border-right: 12px solid #000;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-y .segment-border {
  position: relative;
  left: 12px;
  height: 72px;
  margin-top: -12px;
  border-left: 12px solid #000;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-a {
  top: 0;
}

.display-container.display-size-12 .segment-b {
  top: 13px;
  left: 98px;
}

.display-container.display-size-12 .segment-c {
  top: 111px;
  left: 98px;
}

.display-container.display-size-12 .segment-d {
  top: 196px;
}

.display-container.display-size-12 .segment-e {
  top: 111px;
  left: 0px;
}

.display-container.display-size-12 .segment-f {
  top: 13px;
  left: 0px;
}

.display-container.display-size-12 .segment-g {
  top: 98px;
}

.display-no-1 .segment-a,
.display-no-1 .segment-d,
.display-no-1 .segment-e,
.display-no-1 .segment-f,
.display-no-1 .segment-g {
  /*display: none;*/
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.display-no-2 .segment-c,
.display-no-2 .segment-f {
  /*display: none;*/
  opacity: 0.1;
}

.display-no-3 .segment-e,
.display-no-3 .segment-f {
  /*display: none;*/
  opacity: 0.1;
}

.display-no-4 .segment-a,
.display-no-4 .segment-d,
.display-no-4 .segment-e {
  /*display: none;*/
  opacity: 0.1;
}

.display-no-5 .segment-b,
.display-no-5 .segment-e {
  /*display: none;*/
  opacity: 0.1;
}

.display-no-6 .segment-b {
  /*display: none;*/
  opacity: 0.1;
}

.display-no-7 .segment-d,
.display-no-7 .segment-e,
.display-no-7 .segment-f,
.display-no-7 .segment-g {
  /*display: none;*/
  opacity: 0.1;
}

.display-no-8 {
}

.display-no-9 .segment-e {
  /*display: none;*/
  opacity: 0.1;
}

.display-no-0 .segment-g {
  /*display: none;*/
  opacity: 0.1;
}

.hide {
  display: none;
}

.smaller-bigger {
  color: #ff6600;
  font-style: normal;
  font-size: 16;
  font-weight: bold;
}

.win {
  color: #32bf00;
  font-style: normal;
  font-size: 16;
  font-weight: bold;
}

.error {
  color: #CC3300;
  font-style: normal;
  font-size: 16;
  font-weight: bold;
}

.new-game {
  display: none;
}

.new-game-active {
  display: block;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 130px;
  height: 42px;
  background: linear-gradient(180deg, rgba(67, 72, 84, 1) 0%, rgba(158, 158, 158, 1) 100%);
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.input {
  position: relative;
  width: 217px;
  height: 42px;
  border: 1px solid #ff6600;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 0.5rem;
  margin-right: 0.68rem;
}

.span-new-game {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.display {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  position: relative;
  text-align: center;

  background: -webkit-linear-gradient(rgba(239, 108, 0, 1), rgba(219, 99, 0, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: -1px;
}

.line {
  width: 255px;
  height: 1px;
  background-color: #cfcfcf;
  border: none;
  margin-top: -10px;
}

.footer {
  position: fixed;
  bottom: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  left: 0;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.section-display {
  margin-top: 50%;
}

.tip {
  position: absolute;
  margin-top: 200px;
}

.btn-send {
  position: relative;
  width: 70px;
  height: 42px;
  background: linear-gradient(180deg, #ef6c00 0%, #c0661c 100%);
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
